<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GrandSummoners app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="https://cdn.discordapp.com/attachments/413135277435912193/875567089438576710/image0.png" />
    <ion-card-header>
      <ion-card-subtitle>Upcoming maint on 8/17 19:00 PDT</ion-card-subtitle>
      <ion-card-title>
        The Phantom Snipers Episode 1 login bonus will run through 8/18 - 9/24</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      News Description
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->
